:root{
    --container-height: 86vh;
    --container-width: 100vw;
    --arrow-icon-height: 75px;
    --arrow-icon-width: 40px;
    --section-title-font-size: 6.25vh;
    --section-description-font-size: 3vh;
}

#container-comparison {
    position: relative;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: var(--container-height);
    width: var(--container-width);
}

.container-rivers {
<<<<<<< HEAD
/*    position: relative;
    width: 100%;
    height: 100%;*/
    position: relative;
    width: auto;
    height: 100%;

    overflow: hidden;
=======
    position: relative;
    width: 100%;
    height: 100%;
>>>>>>> 2a34dac9c1ced6e3d99a83c38271cd84847df6b7
}

.container-rivers .inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}

.comparison-slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider > img {
    width: 100%;
    height: auto;
    display: block;
}

.comparison-slider-wrapper .comparison-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.comparison-slider-wrapper .comparison-slider .resize > img {
    display: block;
}

#resize{
    z-index: 500;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#left-arrow-split-screen{
    z-index: 2000;
    height: var(--arrow-icon-height);
    width: var(--arrow-icon-width);
    position: absolute;
    left: calc(50% - var(--arrow-icon-width));
    top: calc(50% - calc(var(--arrow-icon-height) / 2));
    cursor: pointer;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#right-arrow-split-screen{
    z-index: 2000;
    height: var(--arrow-icon-height);
    width: var(--arrow-icon-width);
    position: absolute;
    left: 50%;
    top: calc(50% - calc(var(--arrow-icon-height) / 2));
    cursor: pointer;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#image_right{
<<<<<<< HEAD
    /*height: 100%;
    width: 100%;*/
    height: auto;
=======
    height: 100%;
>>>>>>> 2a34dac9c1ced6e3d99a83c38271cd84847df6b7
    width: 100%;
}

#image_left_container{
    position: relative;
    height: 100%;
    width: 100%;
}

#image_left{
<<<<<<< HEAD

    z-index: 4000;
    /*height: 100%;
    width: calc(var(--container-width) * 2);*/
    /*height: auto;
    width: 100%;  */

    width: calc(var(--container-width) * 1);
    height: auto;

    object-fit: cover;
    /*z-index: 4000;*/

    /*width: calc(var(--container-width) * 2);*/
    /*height: auto;*/
    /*object-fit: cover*/
}




.image_left_text_background{
    /*width: 50vw;*/



    /*height: 100%;*/
    /*background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    !*background-color: rgba(255,255,255,0.5);*!
    !*background-color: white;*!
    z-index: 200;
    margin-left: 50vw;
    position: absolute;
    top: 0%;
    right: 0%;

    width: calc(var(--container-width) * 0.4);*/




    text-align: justify;
    position:absolute;
    top: 0%;
    /*top: calc(var(--container-height) / 12.5);*/
    /*right: calc(var(--container-height) / 12.5);*/
    /*right: 8%;*/
    left: calc(calc(var(--container-width)/2) + calc(var(--container-height) / 40));

    width: calc(var(--container-width) * 0.5);
    height: 100%;
    /*max-height: calc(var(--container-height) * 0.1);
    height: calc(var(--container-height) * 0.3);*/
    font-family: Museo-Sans-300;
    /*font-family: "PT Sans Narrow";*/
    font-size: var(--section-description-font-size);
    color: black;
    /*color: #4D4D4D;*/
    /*color: white;*/
    z-index: 600;

    /*background-color: #ffffff;*/
    background-image: linear-gradient(to right, rgba(255,255,255,0.01), rgba(255,255,255,1), white, white, white);

}


.image_right_text_background{
    width: calc(var(--container-width) * 0.5);
    /*width: 50%;*/
    height: 100%;
    background-image: linear-gradient(to right, white, white, white, rgba(255,255,255,1), rgba(255,255,255,0.01));
    /*background-color: rgba(255,255,255,0.5);
    /*background-color: white;*/
    /*z-index: 200;*/
    /*margin-left: 50vw;*/
    position: absolute;
    top: 0%;
    left: 0%;



}



=======
    z-index: 4000;
    height: 100%;
    width: calc(var(--container-width) * 2);
    object-fit: cover
}

>>>>>>> 2a34dac9c1ced6e3d99a83c38271cd84847df6b7
#section-title-anabranching{
    position:absolute;
    bottom: calc(var(--container-height) / 12.5);
    left: calc(var(--container-height) / 12.5);
    font-family: "PT Sans Narrow";
    font-size: var(--section-title-font-size);
    color: white;
    z-index: 3000;
    margin: 0;
}

<<<<<<< HEAD
#section-description-meandering{
=======
#section-description-anabranching{
>>>>>>> 2a34dac9c1ced6e3d99a83c38271cd84847df6b7
    text-align: justify;
    position:absolute;
    top: 8%;
    right: calc(50% + 5%);
<<<<<<< HEAD
    left: 7%;
    /*left: 8%;*/
    width: 30%;
    /*max-height: calc(var(--container-height) * 0.1);*/

    overflow: hidden;
    font-family: Museo-Sans-300;
    /*font-family: "PT Sans Narrow";*/
    font-size: var(--section-description-font-size);
    color: black;
    /*color: #4D4D4D;*/
    /*color: white;*/
=======
    left: 8%;
    width: 40%;
    /*max-height: calc(var(--container-height) * 0.1);*/

    overflow: hidden;
    font-family: "PT Sans Narrow";
    font-size: var(--section-description-font-size);
    color: white;
>>>>>>> 2a34dac9c1ced6e3d99a83c38271cd84847df6b7
}

#section-image-anabranching{
    position:absolute;
    bottom: 8%;
    right: calc(50% + 5% + 20%);
    left: calc(10% + 8%);
    width: 20%;
}

#section-title-meandric{
    position:absolute;
    bottom: 8%;
    right: 8%;
    font-family: "PT Sans Narrow";
    font-size: var(--section-title-font-size);
    color: white;
    margin: 0;
}

<<<<<<< HEAD
#section-description-anabranching{
    text-align: justify;
    position:absolute;
    top: calc(var(--container-height) / 12.5);
    /*right: calc(var(--container-height) / 12.5);*/
    /*right: 8%;*/
    left: calc(calc(var(--container-width)/2) + calc(var(--container-height) / 3.1));

    width: calc(var(--container-width) * 0.28);
    /*max-height: calc(var(--container-height) * 0.1);
    height: calc(var(--container-height) * 0.3);*/
    font-family: Museo-Sans-300;
    /*font-family: "PT Sans Narrow";*/
    font-size: var(--section-description-font-size);
    color: black;
    /*color: #4D4D4D;*/
    /*color: white;*/
=======
#section-description-meandric{
    text-align: justify;
    position:absolute;
    top: calc(var(--container-height) / 12.5);
    right: calc(var(--container-height) / 12.5);
    /*right: 8%;*/
    left: calc(calc(var(--container-width)/2) + calc(var(--container-height) / 20));

    width: calc(var(--container-width) * 0.4);
    /*max-height: calc(var(--container-height) * 0.1);
    height: calc(var(--container-height) * 0.3);*/
    font-family: "PT Sans Narrow";
    font-size: var(--section-description-font-size);
    color: white;
>>>>>>> 2a34dac9c1ced6e3d99a83c38271cd84847df6b7
    z-index: 1000;
}

/*#section-description-meandric{
    text-align: justify;
    position:absolute;
    top: calc(var(--container-height) / 12.5);
    right: calc(var(--container-height) / 12.5);
    !*right: 8%;*!
    left: calc(var(--container-width) + calc(var(--container-height) / 20));
    !*left: 58%;*!
    width: calc(var(--container-width) * 0.4);
    !*max-height: calc(var(--container-height) * 0.1);
    height: calc(var(--container-height) * 0.3);*!
    font-family: "PT Sans Narrow";
    font-size: var(--section-description-font-size);
    color: white;
    z-index: 1000;
}*/


#section-image-meandric{
    position:absolute;
    bottom: calc(var(--container-height) / 12.5);
    right: calc(var(--container-height) / 12.5);
    left: calc(var(--container-height) + calc(var(--container-height) / 20) + calc(var(--container-height) / 5));
    width: calc(var(--container-width) / 5);
    z-index: 1000;
}